* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f4d2be, #ffb899);
    color: #333;
    line-height:1.5;
}

section {
    padding: 60px 10%;
}

header {
    background-color: #ffffff80;
    width: 100%;
    padding: 25px 30%;
    border-bottom: 10px solid #ebaa7e;
}

nav ul {
    list-style:none;
    display:flex;
    gap: 50px;
}
 
nav ul li a {
    text-decoration:none;
    color: #333;
    font-weight: 500;
    transition:0.3s;
}

nav ul li a:hover {
    color: #ed6e19;
} 


.hero {
    background: linear-gradient(to right, #f4d2be, #ffb899);
    height: 80vh;
    display: flexbox;
    padding: 10 10%;
}

.hero h1 {
    font-size: 50px;
    margin-bottom:10px;
    line-height: 1.5;
}

.hero h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #444;
}

.hero p {
    max-width: 500px;
    color: #555;
    font-size: 18px;
    margin-bottom: 25px;
} 


.about {
    background: #fff6f1;
    border-radius: 11px;
    padding: 40px;
    box-shadow: 0 3px 10px reba(0,0,0.1);
}

.about h3 {
    margin-bottom: 15px;
    font-size: 30px;
}

.about p {
    margin-bottom: 20px;
    color: #555;
}


.skills {
    background: linear-gradient(to right, #f4d2be, #ffb899);
    padding: 60px 10%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.skills h2, .skills p {
    color: #3d2d2d;
}

.skills-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}

.skill {
    background: #fff;
    padding: 22px;
    width: 23%;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
   
    transition: transform 0.35s ease;background: 0.35s ease;


}

.skill:hover {
    transform: translateY(-6px);
    background: #f4b995;
}


.projects {
    text-align: center;
    padding: 60px 10%;
    background: linear-gradient(to left, #ffd5bc, #ffb899);
    border-radius: 12px;
}

.projects h2 {
    margin-bottom: 25px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.projects-container div {
    width: 32%;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.projects-container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contact {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background: #fff4ec;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn {
    background: #ff845e;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover {
    background: #ff6b3d;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f39c6a;
    color: white;
    margin-top: 40px;
}


.projects-container div img {
    transition: 0.4s ease;
}

.projects-container div:hover img {
    transform: scale(1.08);
}


.btn {
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 12px rgba(255, 110, 61, 0.6);
    transform: translateY(-2px);
}
